altgraph==0.17.2
asgiref==3.11.1
boto3==1.42.97
botocore==1.42.97
Django==4.2.30
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
future==0.18.2
jmespath==1.1.0
macholib==1.15.2
PyJWT==2.12.1
python-dateutil==2.9.0.post0
s3transfer==0.16.1
six==1.15.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==1.26.20
uuid7==0.1.0
Pillow==10.3.0
ffmpeg-python==0.2.0
pdf2image==1.17.0
